.status {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: 10px;
}
.status.online, .status.online:before {
	background: #69E0A0;
}
.status.offline, .status.offline:before {
	background: #ff4242;
}
.status.invisible, .status.invisible:before {
	background: #42e5ff;
}
.status.idle, .status.idle:before {
	background: #ffda72;
}
.status:before {
	content: '';
	display: block;
	position: absolute;
	left: -5px;
	top: -5px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	animation: pulse 2s infinite ease-in;
}

@keyframes pulse {
	from {
		transform: scale(0.5);
		opacity: 1;
	}
	to {
		transform: scale(1.5);
		opacity: 0;
	}
}
