html, body {
	font-family: "Source Sans Pro", sans-serif;
	background: url("../img/background_left.svg") left center no-repeat;
	background-size: cover;
}

@media only screen and (min-width: 600px) {
	body {
		background: url('../img/background.svg');
	}
}

#connection {
	background-color: forestgreen;
}
